body {
  background: #bebbb4;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.blk {
  background: #f8f9fa;
  border-radius: 6px;
  margin: 10px 0;
  padding: 2% 4%;
}

#content,
#content2 {
  display: block;
  padding-top:20px;
  border-top: 1px solid #ddd;    
}

#content.mobile,
#content2.mobile {
  display: none;
}

header {
  padding: 10px 0;
}

header.header-mobile {
  border-bottom: none;
  cursor: pointer;
}

h3 {
  font-size: 20px;
  display: inline-grid;
}

.arrow {
  display: none;
}

header.header-mobile .arrow {
  display: inline-grid;
  text-align: right;
  float: right;
  margin: 0px 5px;
  transform: rotate(180deg); 
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  transform-origin: 50% 60%;   
    -ms-transform-origin: 50% 60%;
    -webkit-transform-origin: 50% 60%;    
}

header.header-mobile .arrow.flipped {
  transform: rotate(0deg); 
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  transform-origin: 50% 60%;   
    -ms-transform-origin: 50% 60%;
    -webkit-transform-origin: 50% 60%;
}

button {
  background: #009cff;
  border: none;
  padding: 12px 40px;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
